<!DOCTYPE html>
<html>
<head>
  <title>Dealio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
     </a><%= link_to 'DEALIO', root_path, :class => 'navbar-brand' %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">    
        <!-- <li><a href="#">About</a></li>
      </ul> -->
      <!--! <ul class="nav navbar-nav navbar-right">
        <li><a href="#">SHARE DEALiO</a></li> -->
        </li> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <br />
</nav> 

 <br class="clear" />

	<div class="jumbotron text-center">
   <br />
	  <u><h1>dealio</h1></u>
	  <p>Share hot spots on deals on the fly and make your life a litte bit smarter it will allow to save money on those little things... form groups and share with everyone you know, family and friends</p> 
	 </div> 


	   
<%= yield %>

</body>
</html>
